header {
    padding: 15px;
    color: antiquewhite;
    text-align: center;
    background-image: linear-gradient(to left, #06065a, #0000ff);
}

main {
    /* display: flex; */
    padding-top: 25px;
}

#cityweather {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    gap: .5rem;
}

#cityname, #date {
    margin-top: 5px;
}

#fivedayforecast {
    margin: 15px;
    font-weight: bold;
}

#cardStyle {
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(6, 33, 56);
    color: antiquewhite;
}


