header {
    padding: 15px;
    color: antiquewhite;
    text-align: center;
    background-image: linear-gradient(to left, #06065a, #0000ff);
}

main {
    padding-top: 5px;
}

#weatherdisplay {
    margin: 20px;
}

#searchcityname {
    display: flex;
    flex-direction: column; 
}

#cityweather {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    gap: .5rem;
}

#cityname, #date {
    margin-top: 5px;
}

#fivedayforecast {
    margin-top: 5px; 
    font-weight: bold;
}

.stylingcard {
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(6, 33, 56);
    color: antiquewhite;
}

#search {
    background-color: #06065a;
    border-radius: 5px;
    color: white;
}

button {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: gray;
    border-radius: 5px;
}



